body {
    width: 300px;
    margin: 0 auto;
}
ul {
font-family:'Redressed', cursive;
}
.calcula1{
    background-color: yellow;
    border-radius: 18px;
}
.calcula2{
    background-color: red;
    border-radius: 28px;
}
.calcula3{
    background-color: rgb(80, 80, 255);
    border-radius: 38px;
}
.input {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 4px ; 
    background-color: rgb(245, 250, 215);
    width: 300px;
    bord
}
.ul {
    
}